﻿@using ToDoTask = ToDoListApp.Entities.ToDoTask;
@model IEnumerable<ToDoTask>

@{
}

<h1>ToDoList</h1>

<p>
    @Html.ActionLink("Create a new task","Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assingment.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assingment .AssignedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => task.Id)
                </td>
                <td>
                    @task.Name
                </td>
                
                <td>
                    @task.Date
                </td>
                 <td>
                    @task.Assingment.CreatedBy
                </td>
                <td>
                    @task.Assingment.AssignedTo
                </td>
                <td>
                    @task.Done
                </td>
            </tr>
        }
    </tbody>

</table>
