* {
  box-sizing: border-box;
}

body {
  background-color: #45f40b;
}

.title {
  color: #f40b0b;
  font-size: 50px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
}

.strange-text {
  background-color: #f40bbe;
}

main .first-paragraph {
  font-weight: bold;
  font-size: 21px;
}

/* .nav {
  padding-left: 47px;
  background: aqua;
  border: 10px solid #f40b0b;
  margin-left: 0px;
  list-style: none;
} */
.nav {
  background: aqua;
  border: 10px solid #f40b0b;
  margin-left: 0px;
  list-style: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
  padding: 0;
  flex-direction: row;
}

/* .nav-item {
    display: inline-block;
    border: 2px solid #ff0000;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    vertical-align: middle;
} */

.nav-item {
  /* display: inline-block; */
  border: 2px solid #ff0000;
  padding: 5px;
  border-radius: 5px;
  /* margin-left: 10px; */
  /* vertical-align: middle; */
}

.test-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.box {
  width: 500px;
  height: 500px;
  border: 1px solid #72b50f;
  position: relative;
  margin: 50px auto;
  background-color: aqua;
}

.box .box-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #f40b0b;
  /* z-index: 1; */
  border: 1px dashed #f3f3f3;
}

@media (max-width: 990px) {
  p {
    color: red;
  }

  .nav {
    flex-direction: column;
  }
}
