﻿@using ToDoTask = ToDoListApp.Entities.ToDoTask;
@model ToDoListApp.Entities.ToDoTask

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateNewTask">          
           
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" /> 
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Assingment.CreatedBy" class="control-label"></label>
                <input asp-for="Assingment.CreatedBy" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Assingment.AssignedTo" class="control-label"></label>
                <input asp-for="Assingment.AssignedTo" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

