body{
    background-color: peachpuff;
    font-family: 'Courier New', Courier, monospace;
    font-size:medium;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
}


.title
{
    color: red;
    font-size: 50px;
    font-size: medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

   margin: auto;
   padding: 8px 0;
   list-style: lower-alpha;
   border-radius: 5px;
}

